.alineacion-derecha {
    text-align: right;
}
p {
    font-size: 1.5em;
}
.alineacion-centro {
    text-align: center;
}
.alineacion-izquierda {
    text-align: left;
}
.alineacion-justificada {
    text-align: justify;
}
.texto-indentado{
    text-indent: 3em;
    text-align: justify;
    line-height: 1.5em;
}
.texto-enfatizado {
    font-size: 5em;
}
blockquote {
    font-size: 2em;
    color: grey;
    font-style: italic;
    text-align: right;
}