.alineacion-derecha {
    text-align: right;
}
p {
    font-size: 1.5em;
}
.alineacion-centro {
    text-align: center;
}
.alineacion-izquierda {
    text-align: left;
}
.alineacion-justificada {
    text-align: justify;
}