* {
    margin: 0;
    padding: 0;
}
.main {
    background-image: url(../img/login.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    background-position: right bottom;
}
body {
    background-image: url("../img/DRONE-BG2.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    position: absolute;
    z-index: 10;
    width: 100%;
} 
ul {
    text-align: right;
    width: 100%;
}
li {
    display: inline-block;
    margin: 17px;
    color: rgb(225, 142, 65);
    font-size: 1.3em;
}
a {
    text-decoration: none;
    color: rgb(225, 142, 65);
}