body {
    margin: 0 12em;
}
h1 {
    text-align: center;
    color: rgb(29, 31, 30);
}
img {
    display: block;
    margin: 0 auto;
}
.img-catalogo{
    display: inline;
}
div {
    display: inline-block;
    margin: 25px;
}